.entry {

}

.cell img {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  margin-right: 0.5em;
  margin-top: 0.13em;
  box-shadow: 0 0 1.5em rgba(179, 17, 183, 0.6);
}

.cell {
  height: 1em;
  vertical-align: middle;
  text-align: left;
}

.name {
  width: 20em;
}

.points {
  width: 3em;
  text-align: right;
}
