.highscore-page {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/dashboard-frame.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.highscore-list-header, .highscore-statwinner-header {
  margin: 6% auto 0.5em;
}

.highscore-list-header {
  font-size: 1.2em;
}

.highscore-statwinner-header {
  margin-top: 4em;
  font-size: 1.2em;
}

.highscore-list {
  width: 75%;
  padding: 0.4em 0.5em 0.3em;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(14, 9, 211, 0.35);
  border-radius: 1em;
}

.highscore-content {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11.2vw;
  width: inherit;
}

#canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
