<iframe id="canvas" width="1920" height="1080" allow="microphone" frameborder="0"
        src="https://www.shadertoy.com/embed/MsyczG?gui=false&t=10&paused=false&muted=false" allowfullscreen></iframe>
<div class="highscore-page">

  <ng-container *ngIf="initialized">

    <div class="highscore-content" *ngIf="showHighScore" @fade>
      <table class="highscore-list">
        <app-highscore-entry *ngFor="let entry of highScoreEntries" [entryData]="entry"></app-highscore-entry>
      </table>
    </div>

    <div class="highscore-content" *ngIf="!showHighScore && currentContender" @fade>
      <app-contender [userId]="currentContender"></app-contender>
    </div>

  </ng-container>

</div>

