@import url('https://fonts.googleapis.com/css?family=Acme');

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Acme';
  font-size: 2.8vw;
  text-transform: uppercase;
  color: #ff0000;
  text-shadow: 0 0 0.5em #b311b7;
}
